.footer{
    background-color:rgba(0,0,0,0.7); 
    width: 100vw;  
    position: fixed;
    bottom: 0; 
}
.footer p{
    margin:20px;
    color: white;
    text-align: center;
    font-size: 18px;
}
.footer p a{
    color: white;
}
.footer p a:hover{
    color: yellow;
    text-decoration: none;
}
@media(max-width : 600px)
{
    .footer p{
     font-size: 15px;
    }
}